.jumbotron {
  background-color: black;
  height: 100vh;
}

.produk .container .row .col-xs-12 .h5 {
  bottom: 0;
  left: 0;
  position: absolute;
  color: black;
  margin-top: -1000px;
}

.jumbotron img {
  border: 4px solid rgb(0, 0, 0);
  width: 80vmin;
  margin-top: 23vh;
}

.about hr {
  width: 250px;
  border-top: 3px solid rgb(0, 0, 0);
}

.produk .row .col-xs-4 a img {
  height: 120px;
  width: 120px;
  object-fit: scale-down;
}

body {
  background-color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
}

.kontak {
  background-color: rgb(165, 165, 161);
}

.kontak .row .col-xs-12 h3 {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.kontak .row .col-xs-12 h3 span,
.produk .row .col-xs-12 h2 span {
  font-weight: bold;
  color: rgb(250, 76, 76);
}

.kontak .row .col-sm-6 h4,
.kontak .row .col-sm-6 p,
.kontak .row .col-sm-6 h3 {
  padding-left: 10px;
}

.kontak .row .col-sm-6 h4 {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
}

.kontak .row .col-sm-6 h3 {
  color: black;
  font-size: 2rem;
}

.kontak .row .col-sm-6 p {
  color: black;
  font-size: 1.5rem;
}

.kontak .row .col-sm-6 iframe {
  margin-top: 20px;
  margin-bottom: 18px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgb(80, 79, 79);
  background-color: #ebebeb;
}

.pesan a img {
  width: 250px;
}

.overlay .box-produk .pesan a img {
  width: 30vmin;
}

.overlay .box-produk .pesan a {
  text-align: center;
  position: absolute;
  margin: 2px auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.3s;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: auto;
  text-align: center;
  padding: 50px;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  justify-content: center;
  display: flex;
}

.overlay .close {
  position: absolute;
  color: #ebebeb;
}

.overlay .box-produk {
  height: 70vh;
  width: 90vw;
  background-color: aliceblue;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  justify-content: center;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
}

.overlay a {
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
  color: white;
  text-align: right;
  padding: 5px 8px;
  opacity: 1;
  position: absolute;
  float: right;
  margin-top: -30px;
}

.overlay .box-produk .gambar-video {
  position: relative;
  margin: 20px 10px;
  box-sizing: border-box;
  width: 95%;
  height: 50vmin;
  background-color: #ebebeb;
  display: flex;
  overflow: auto;
  padding: 10px;
}

.overlay .box-produk .gambar-video::-webkit-scrollbar {
  height: 0.8rem;
  border-radius: 10px;
  background: black;
}

.overlay .box-produk .gambar-video::-webkit-scrollbar-track-piece {
  background-color: black;
}

.overlay .box-produk .gambar-video video {
  width: 45vmin;
  height: 45vmin;
  object-fit: scale-down;
  box-sizing: border-box;
  padding: 5px;
}

.overlay .box-produk .gambar-video img {
  width: 45vmin;
  height: 45vmin;
  object-fit: scale-down;
  box-sizing: border-box;
  padding: 5px;
}

.overlay .box-produk .des-peroduk {
  display: block;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  width: 95%;
  text-wrap: wrap;
}

.overlay .box-produk .des-peroduk h4 {
  font-size: 4vmin;
}

.overlay .box-produk .des-peroduk .p1,
.overlay .des-peroduk .box-produk .p2 {
  font-size: 3vmin;
  top: 10px;
}

.overlay .box-produk .des-peroduk .pengiriman img {
  margin: auto;
  width: 20vmin;
  height: 7vmin;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(87, 87, 87);
}

@keyframes zoomAndFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
